{% extends "pages/staff/dashboard.html" %}

{% block tab_content %}
<div class="row mt-2">
  <div class="col-auto mx-auto">
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editWorkerModal">
      Edit worker
    </button>
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#recalculateRecordsModal">
      Recalculate records
    </button>
  </div>
</div>
<div class="modal fade" id="editWorkerModal" tabindex="-1" aria-labelledby="editWorkerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <form action="{% url 'edit_worker' session.pk current_worker.pk %}" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="editWorkerModalLabel">Edit worker information</h5>
        </div>
        <div class="modal-body">
          <div class="mb-1">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" name="username" id="username" value="{{ current_worker.username }}" class="form-control bg-dark text-white" required>
          </div>
          <div class="mb-1">
            <label for="email" class="col-form-label">Email Address:</label>
            <input type="email" name="email" id="email" value="{{ current_worker.email }}" class="form-control bg-dark text-white" required>
          </div>
          <div class="mb-1">
            <label for="first-name" class="col-form-label">First Name:</label>
            <input type="text" name="first_name" id="first-name" value="{{ current_worker.first_name }}" class="form-control bg-dark text-white" required>
          </div>
          <div class="mb-1">
            <label for="last-name" class="col-form-label">Last Name:</label>
            <input type="text" name="last_name" id="last-name" value="{{ current_worker.last_name }}" class="form-control bg-dark text-white" required>
          </div>
          <div class="mb-1">
            <label for="payable-hour-rate" class="col-form-label">Payable Hour Rate:</label>
            <input type="number" name="payable_hour_rate" id="payable-hour-rate" value="{{ current_worker.payable_hour_rate }}" min="1" value="10" step="0.5" class="form-control bg-dark text-white" required>
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" id="password" placeholder="-----" class="form-control bg-dark text-white" disabled>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" name="is_staff" role="switch" type="checkbox" value="" id="staff-check" {% if current_worker.is_staff %} checked {% endif %}>
            <label class="form-check-label" for="staff-check">
              Is staff?
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" style="margin-right: auto !important;" data-bs-toggle="modal" data-bs-target="#deleteWorkerModal">
            <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
            Delete
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Confirm</btn>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteWorkerModal" tabindex="-1" aria-labelledby="deleteWorkerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteWorkerModalLabel">Confirm worker delete?</h5>
      </div>
      <div class="modal-body">
        After your confirmation the worker will be
        permanently deleted
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editWorkerModal">Close</button>
        <a href="{% url 'delete_worker' session.pk current_worker.pk %}" class="btn btn-success">Confirm</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="recalculateRecordsModal" tabindex="-1" aria-labelledby="recalculateRecordsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="recalculateRecordsModalLabel">Confirm records recalculation?</h5>
      </div>
      <div class="modal-body">
        After your confirmation all records of {{ current_worker }} in
        all opened work sessions will be recalculated using new settings
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'recalculate_worker_records' session.pk current_worker.pk %}" class="btn btn-success">Confirm</a>
      </div>
    </div>
  </div>
</div>
{% include "partials/staff/work_table.html" with week_number=1 workdays=workdays.0 %}
{% if workdays.1 %}
{% include "partials/staff/work_table.html" with week_number=1 workdays=workdays.1 %}
{% endif %}
<hr class="mt-5">
<div class="row justify-content-between mb-5">
  <div class="col-auto">
    <h4>Work Total:</h4>
  </div>
  <div class="col-auto">
    <h5>{{ total_hours }} hours</h5>
  </div>
  <div class="col-auto">
    <h5>Payable: ${{ total_payable_earnings }}</h5>
    <h5>Billable: ${{ total_billable_earnings }}</h5>
  </div>
</div>
{% endblock %}