{% extends "base.html" %}

{% block title %}
Dashboard | Vidicode Timesheets
{% endblock %}

{% block content %}
<div class="row justify-content-between mt-5">
  <div class="col-auto">
    <h3>Dashboard</h3>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#startWorkModal">
      <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#plus-lg"></use></svg>
    </button>
  </div>
</div>
<div class="modal fade" id="startWorkModal" tabindex="-1" aria-labelledby="startWorkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <form action="{% url 'start_work' %}" method="POST">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="startWorkModalLabel">Select a project</h5>
        </div>
        <div class="modal-body">
          After your confirmation the timer will be started
          and new record will be created on current date
          <label for="project-select" class="form-label mt-2">Select a Project you are working on:</label>
          <select class="form-select bg-dark text-light mb-3" name="project" id="project-select" required>
            <option value="" selected>----</option>
            {% for project in projects %}
            <option value="{{ project.pk }}">{{ project.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
{% include "partials/work_table.html" with week_number=1 workdays=workdays.0 %}
{% if workdays.1 %}
{% include "partials/work_table.html" with week_number=2 workdays=workdays.1 %}
{% endif %}
<hr class="mt-5">
<div class="row justify-content-between mb-5">
  <div class="col-auto">
    <h4>Work Total:</h4>
  </div>
  <div class="col-auto">
    <h5>{{ total_hours }} hours</h5>
  </div>
  <div class="col-auto">
    <h5>Payable: ${{ total_payable_earnings }}</h5>
    <h5>Billable: ${{ total_billable_earnings }}</h5>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  $(function() {
    $('.delete').click(function() {
      var select = $(this).parent().prev().children('.form-select');
      var selectedId = select.val();
      window.location.href = '/delete_work/' + selectedId + '/';
    });
    $('.confirmRecordSelect').click(function() {
      var select = $(this).parent().prev().children('.form-select');
      var selectedId = select.val();
      console.log('editWorkModal_' + selectedId);
      $(this).parent().parent().parent().parent().modal('hide')
      $('#editRecordModal_' + selectedId).modal('toggle');
    });
  })
</script>
{% endblock scripts %}
