{% extends "base.html" %}

{% block title %}
Dashboard | Vidicode Timesheets
{% endblock %}

{% block content %}
<div class="row justify-content-between mt-5">
  <div class="col-auto">
    <h3>Dashboard</h3>
  </div>
  <div class="col-auto">
    <a class="btn btn-outline-success" href="#">
      <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#plus-lg"></use></svg>
    </a>
  </div>
</div>
<hr>
<h5 class="mt-5 text-center">Week 1 <span class="fs-6 text-warning">(22.11 - 28.11)</span></h5>
<table class="table table-dark table-bordered table-striped mt-2">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Day</th>
      <th scope="col" style="width: 8%;">Start Time</th>
      <th scope="col" style="width: 8%;">Finish Time</th>
      <th scope="col" style="width: 9%;">Total Hours</th>
      <th scope="col" style="width: 7%;">Earnings</th>
      <th scope="col" style="width: 50%;">Work Summary</th>
      <th scope="col" class="text-center" style="width: 7%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</span></th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
        <td class="align-middle text-center">
          <button class="btn btn-sm btn-outline-light">
            <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
          </button>
          <button class="btn btn-sm btn-outline-danger">
            <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
          </button>
        </td>
      </td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Total:</td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>$525</td>
    </tr>
  </tfoot>
</table>
<h5 class="mt-5 text-center">Week 2 <span class="fs-6 text-warning">(29.11 - 05.12)</span></h5>
<table class="table table-dark table-bordered table-striped mt-2">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Day</th>
      <th scope="col" style="width: 8%;">Start Time</th>
      <th scope="col" style="width: 8%;">Finish Time</th>
      <th scope="col" style="width: 9%;">Total Hours</th>
      <th scope="col" style="width: 7%;">Earnings</th>
      <th scope="col" style="width: 50%;">Work Summary</th>
      <th scope="col" class="text-center" style="width: 7%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
        <td class="align-middle text-center">
          <button class="btn btn-sm btn-outline-light">
            <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
          </button>
          <button class="btn btn-sm btn-outline-danger">
            <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
          </button>
        </td>
      </td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
      <td>17:00</td>
      <td>22:00</td>
      <td>5</td>
      <td>$75</td>
      <td>
        <table class="table table-dark mb-0">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Project</th>
              <th scope="col" style="width: 75%;">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Advisorpedia</th>
              <td>make footer</td>
            </tr>
            <tr>
              <th scope="row">Lakewood</th>
              <td>finish pages</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-sm btn-outline-light">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#pencil-square"></use></svg>
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <svg class="bi mb-1" fill="currentColor" width="16" height="16"><use xlink:href="#trash"></use></svg>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Total:</td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>$525</td>
    </tr>
  </tfoot>
</table>
<hr class="mt-5">
<div class="row justify-content-between mb-5">
  <div class="col-auto">
    <h4>Work Total:</h4>
  </div>
  <div class="col-auto">
    <h5>70 hours</h5>
  </div>
  <div class="col-auto">
    <h5>$1050</h5>
  </div>
</div>
{% endblock content %}